.appbarFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  max-width: 1800px;
}

.subContainer {
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  .appbarFlex {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
}
