.paginationContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 15px 0 0 0;
}

@media (max-width: 700px) {
  .paginationContainer {
    justify-content: flex-start;
    padding: 15px 0 0 15px;
  }
}
