.sans {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.serif {
  font-family: Lora, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.darkText {
  color: #343434;
}

.landingContainer {
  width: 100%;
  background: #f2f4ef;
}

.heroContainer {
  background: content-box
      radial-gradient(rgb(37, 37, 37, 0.5), rgb(37, 37, 37, 0.5)),
    url(/static/hero.jpg) center top no-repeat fixed;
  background-size: cover;
  overflow: hidden;
}

.heroContent {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  padding: 4rem 15px;
}

.heroHeader {
  font-size: 6rem;
  text-transform: uppercase;
  padding-top: 0;
  margin-top: 0;
}

.heroText {
  font-size: 1.6rem;
}

.heroSignupButton {
  cursor: pointer;
  width: 300px;
  height: 3.5rem;
  max-width: 90%;
  border: none;
  border-radius: 100px;
  background: #e27d60;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.viewAllButton {
  cursor: pointer;
  width: 300px;
  height: 3.5rem;
  max-width: 90%;
  border: none;
  border-radius: 100px;
  background: #85bdcb;
}

.heroSignupButtonText {
  color: white;
  font-weight: 500 !important;
}

.whyContainer {
  width: 100vw;
  background: #f2f4ef;
  overflow: hidden;
}

.whyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0;
}

.callToActionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 0;
}

.viewAllContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 0;
}

.whyHeader {
  font-size: 2.8em;
  font-weight: 700;
  color: #343434;
  font-variant-ligatures: common-ligatures;
}

.whyText {
  color: #767676;
  font-size: 1.8em;
  padding: 0 20px 50px 20px;
  margin: 0;
}

.areyouContainer {
  background: content-box
      radial-gradient(rgb(37, 37, 37, 0.5), rgb(37, 37, 37, 0.5)),
    url(/static/areyou.jpg) center top no-repeat fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}

.areyouContent {
  height: 100%;
  color: white;
  text-align: center;
  padding: 0 15px;
  max-width: 1200px;
}

.areyouHeader {
  padding-top: 2rem;
  font-size: 4rem;
  margin-bottom: 1.1rem;
}

.areyouText {
  margin: 0;
  font-size: 1.6rem;
}
.sectionbreak {
  width: 90%;
  margin-top: 2.2rem;
  margin-bottom: 100px;
}

.gridContainer {
  display: flex;
  /* padding: 2rem 0 5rem 0; */
}

.gridContent {
  width: 50%;
  background: #f2f4ef;
  padding: 1rem 10% 4rem 10%;
}

.gridImageContainer {
  width: 50%;
  /* background-size: cover; */
  background-size: cover;
  /* min-height: 100%; */
  background-color: #f2f4ef;
  background-position: center;
  background-attachment: scroll;
  /* background-size: auto; */
  background-origin: padding-box;
  background-clip: border-box;
}

.gridHeader {
  font-size: 1.8rem;
}

.light {
}

.gridSubHeader {
  color: #767676;
  font-size: 1.4rem;
  font-weight: 400;
}

.gridSectionbreak {
  width: 100%;
  border: 0;
  border-width: 1px;
  border-color: #e6eae0;
  border-top: 2px solid #eeeeee;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.gridSectionHead {
  font-weight: 600;
}

.gridSectionBody {
  color: #767676;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .areyouHeader {
    margin-top: 0;
  }
  .sectionbreak {
    margin-bottom: 50px;
  }
  .gridContent {
    width: 100%;
    background: #f2f4ef;
    padding: 1rem 10% 4rem 10%;
  }

  .heroContent {
    padding: 2rem 15px;
  }

  .gridImageContainer {
    display: none;
  }
}
