.sans {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.serif {
  font-family: Lora, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 5px;
  height: 0;
  overflow: hidden;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  padding: 0;
}

.darkText {
  color: #343434;
}

.landingContainer {
  width: 100%;
  background: #f2f4ef;
}

.heroContainer {
  background: content-box
      radial-gradient(rgb(37, 37, 37, 0.5), rgb(37, 37, 37, 0.5)),
    url(/static/paula-may-AJqeO_-ifx0-unsplash.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
}

.heroContent {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  padding: 5rem 15px 10rem 15px;
}

.youTubeVideoButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 15px 4rem 15px;
}

.heroHeader {
  font-size: 6rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: -25px;
}

.heroText {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 70px 0px 70px;
}

.heroSignupButton {
  cursor: pointer;
  width: 300px;
  height: 3.5rem;
  max-width: 90%;
  border: none;
  border-radius: 100px;
  background: #e27d60;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.veiwButton {
  cursor: pointer;
  width: 300px;
  height: 3.5rem;
  max-width: 90%;
  border: none;
  border-radius: 100px;
  background: #85bdcb;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 5px;
}

.viewAllButton {
  cursor: pointer;
  width: 300px;
  height: 3.5rem;
  max-width: 90%;
  border: none;
  border-radius: 100px;
  background: #85bdcb;
}

.heroSignupButtonText {
  color: white;
  font-weight: 500 !important;
}

.whyContainer {
  width: 100vw;
  background: #f2f4ef;
  overflow: hidden;
}

.whyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0;
}

.landingHeader {
  font-size: 2em;
  font-weight: 700;
  color: #343434;
  font-variant-ligatures: common-ligatures;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px 50px 30px 50px;
}

.callToActionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 0;
}

.viewAllContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 0;
}

.whyHeader {
  font-size: 2.8em;
  font-weight: 700;
  color: #343434;
  font-variant-ligatures: common-ligatures;
  padding: 0 70px 50px 70px;
}

.howHeader {
  font-size: 2.8em;
  font-weight: 700;
  color: #343434;
  font-variant-ligatures: common-ligatures;
}

.whyText {
  color: #767676;
  font-size: 1.8em;
  padding: 0 70px 50px 70px;
  text-align: left;
  margin: 0;
}

.areyouContainer {
  background: content-box
      radial-gradient(rgb(37, 37, 37, 0.5), rgb(37, 37, 37, 0.5)),
    url(/static/areyou.jpg) center center no-repeat fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}

.areyouContent {
  height: 100%;
  color: white;
  text-align: center;

  max-width: 1200px;
  padding: 0 15px 50px 15px;
}

.areyouHeader {
  padding-top: 2rem;
  font-size: 3rem;
  margin-bottom: 1.1rem;
}

.areyouText {
  margin: 0;
  text-align: left;
  font-size: 1.6rem;
}
.sectionbreak {
  width: 90%;
  margin-top: 2.2rem;
}

.gridContainer {
  display: flex;
}

.gridContainerLeft {
  flex-direction: row;
}

.gridContainerRight {
  flex-direction: row-reverse;
}

.gridContent {
  width: 50%;
  background: #f2f4ef;
  padding: 0 10% 4rem 10%;
}

.gridImageContainer {
  width: 50%;
  /* background-size: cover; */
  background-size: cover;
  /* min-height: 100%; */
  background-color: #f2f4ef;
  background-position: center;
  background-attachment: scroll;
  /* background-size: auto; */
  background-origin: padding-box;
  background-clip: border-box;
}

.gridHeader {
  font-size: 1.8rem;
  display: inline-block;
  position: relative;
}

.gridHeader:before {
  content: '';
  height: 3px;
  width: 100%;
  background-color: #85bdcb;
  position: absolute;
  bottom: -0.5em;
  left: 50%;
  transform: translate(-50%);
}

.light {
}

.gridSubHeader {
  color: #767676;
  font-size: 1.4rem;
  font-weight: 400;
}

.gridSectionbreak {
  width: 100%;
  border: 0;
  border-width: 1px;
  border-color: #e6eae0;
  border-top: 2px solid #eeeeee;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.gridSectionHead {
  font-weight: 600;
}

.gridSectionBody {
  color: #767676;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .whyHeader {
    font-size: 1.8em;
    font-weight: 700;
    color: #343434;
    font-variant-ligatures: common-ligatures;
    padding: 0 10px 0px 10px;
  }

  .areyouHeader {
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 1.1rem;
  }

  .areyouText {
    margin: 0;
    text-align: left;
    font-size: 1rem;
  }
  .sectionbreak {
    margin-bottom: 50px;
  }
  .gridContent {
    width: 100%;
    background: #f2f4ef;
    padding: 1rem 10% 4rem 10%;
  }

  .whyText {
    color: #767676;
    font-size: 1rem;
    padding: 0 20px 5px 20px;
    text-align: left;
    margin: 0;
  }

  .gridImageContainer {
    width: 100%;
    height: 400px;
  }

  .gridContainerLeft {
    flex-direction: column-reverse;
  }

  .gridContainerRight {
    flex-direction: column-reverse;
  }

  .heroContent {
    padding: 2rem 15px;
  }
  .areyouContainer {
    background: content-box
        radial-gradient(rgb(37, 37, 37, 0.5), rgb(37, 37, 37, 0.5)),
      url(/static/areyou.jpg) center center no-repeat scroll;
  }

  .heroText {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0;
  }
  .landingHeader {
    font-size: 1.5em;
    padding: 5;
  }
}
