.landingContainer {
  width: 100%;
}

.heroContainer {
  height: calc(100vh - 160px);
  background: content-box radial-gradient(rgb(37, 37, 37, 0.5), rgb(37, 37, 37, 0.5)), url(/static/hero.jpg) center top no-repeat fixed;
  background-size: cover;
}

.heroImage {
  height: calc(100vh - 160px);
}

.heroContent {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 15px;
}

.heroHeader {
  padding-top: 3rem;
  font-size: 6rem;
  text-transform: uppercase;
}

.heroText {
  font-size: 1.6rem;
}

.whyContainer {
  width: 100vw;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f4ef;
}

.whyContent {

}

.whyHeader {

}

.whyText {

}

