.navigationContainer {
  display: flex;
  flex: 1;
  align-items: center;
}

.navbarFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 80px;
  padding: 0 5px;
  max-width: 1920px;
}

.navLink {
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.87);
  padding: 12px 10px 20px 15px;
  text-decoration: none;
}

.navLink:hover {
  color: #e27d60;
}

.navLinkActive {
  height: 20px;
  display: flex;
  align-items: center;
  color: #85bdcb;
  font-weight: 500;
}

.buttonLink {
  height: 20px;
  display: flex;
  align-items: center;
  color: #85bdcb;
  background: #f2f4ef;
  font-weight: 800;
}

.style-target svg {
  display: none !important;
}

.style-target span {
  font-size: 1rem;
}

.visibleOnMobile {
  display: none;
  visibility: hidden;
}

@media (max-width: 700px) {
  .navbarFlex {
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0;
    height: 100%;
  }

  .navigationContainer {
    align-items: flex-start;
    width: 100%;
    padding: 0;
    flex-direction: column;
    display: none;
  }
  .navLinkActive {
    width: 100vw;
    margin-left: -80px;
  }
  .navLink {
    width: 100vw;
    margin-left: -80px;
  }
  .visibleOnMobile {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: 80px;
    cursor: pointer;
  }
  .menuShown {
    display: flex;
  }
}
