.navigationContainer {
  display: flex;
  flex: 1;
  align-items: center;
}

.navbarFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 80px;
  padding: 0 10px;
  color: #6f6f6f;
  max-width: 1920px;
}

.navLink {
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #6f6f6f;
  padding: 12px 10px 20px 15px;
  text-decoration: none;
  font-weight: 600;
}

.navLinkNon {
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #6f6f6f;
  text-decoration: none;
  font-weight: 600;
}

.navLink:hover {
  color: #e27d60;
}

.navLinkActive {
  height: 20px;
  display: flex;
  align-items: center;
  color: #85bdcb;
  font-weight: 700;
}

.buttonLink {
  height: 20px;
  display: flex;
  align-items: center;
  color: #85bdcb;
  background: #f2f4ef;
  font-weight: 800;
}

.style-target svg {
  display: none !important;
}

.style-target span {
  font-size: 1rem;
}

.visibleOnMobile {
  display: none;
  visibility: hidden;
}

.logo {
  max-height: 45px;
  cursor: pointer;
}

/* .sectionMobile {
  display: none;
} */

@media (max-width: 900px) {
  .navbarFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 30px;
    padding: 0px;
    color: #6f6f6f;
  }

  .navigationContainer {
    display: none;
  }
  .logo {
    max-height: 35px;
    margin-left: 15px;
    margin-top: 10px;
  }

  .buttonLink {
    padding: 15px 0px 10px 15px;
  }

  .noActive {
    padding: 15px 0px 10px 15px;
  }

  .navigationContainer {
    align-items: flex-start;
    width: 100%;
    padding: 0;
    flex-direction: column;
    display: none;
  }
  .navLinkActive {
  }
  .navLinkNon {
    padding: 15px 0px 20px 15px;
  }

  .navLink {
  }

  /* .sectionMobile {
    display: flex;
  } */

  .visibleOnMobile {
    visibility: visible;
    display: flex;
  }
  .menuShown {
    display: flex;
  }
}
