.answerDisplay-container {
  display: flex;
  flex-direction: column;
  padding: 0 0 30px 50px;
  max-width: 950px;
}

,
.answerFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0px;
}

.votesContainer {
  display: flex;
  align-items: center;
}

.answer-votesContainer {
  display: flex;
}

@media (max-width: 700px) {
  .votesContainer {
    margin: 0 0 10px 0;
  }
  .answerFooter {
    flex-direction: column-reverse;
  }
  .answerDisplay-container {
    padding: 0 0 30px 15px;
  }
}

@media (max-width: 500px) {
  .answerDisplay-container {
    padding: 0 0 30px 0;
  }
  .answerFooterCredits {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .answer-votesContainer {
    align-self: flex-start;
    margin: -10px 0 10px 10px;
  }
}
