.contentContainerPadding {
  padding: 20px;
}

.contentContainer {
  overflow-x: hidden;
}

.noPadding {
  padding: 0;
}

@media (max-width: 700px) {
  .contentContainerPadding {
    padding: 20px 0;
  }
}

@media (max-width: 1240px) {
  .contentContainer {
    overflow-x: scroll;
  }
}
