.postAvatar {
  width: 3.8rem;
  height: 3.8rem;
}

.card {
  max-width: 1000px;
  cursor: pointer;
  margin: 2rem;
}

@media (max-width: 700px) {
  .postAvatar {
    display: none;
  }
  .card {
    margin: 1rem;
  }
}

@media (max-width: 500px) {
  .postAvatar {
    display: none;
  }
  .card {
    margin: 10px;
  }
}
